
.outer {
  /* OUTER GREEN BACKGROUND */
  height: 570px;
  width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(152, 180, 107);
  margin: 0 auto;
}
  
  .container {
    /*BLUE CALCULATOR*/
    background-color: rgb(144, 198, 229);
    /* calculator colour */
    width: 400px;
    height: 400px;
    display: flex;
    align-items: normal;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;

    
    /* ^these both center the blue calculator within the outer green shell */
  }
  

  .calc-display {
      /*DISPLAY SCREEN OF CALCULATOR*/
      width: 380px; 
      height: 80px; 
      display: flex;
      align-items: flex-start;
      justify-content: center; 
       /* moves the display screen to the top center of calculator container */
      flex-direction: column;
      margin-top: 10px;
      /* margin between display top and calc top */
      margin-bottom: 10px;
      box-shadow: 0px 5px rgb(110, 149, 174);
      background-color: rgb(238, 251, 230); 
      /* colour and bottom shadow of display */
   }  
  

  h1 {
    /*BETTER CALCULATOR*/
    text-align: center;
    color: hotpink;
  }
  

.button {
    /*DA BUTTONS DUH*/
    width: 80px; 
    height: 65px; 
    background-color: rgb(235, 235, 235);
    /* colour of buttons */
    color: gray;
     /* colour of button characters */
    /* font-weight: 500;  */
    font-size: x-large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 5px rgb(110, 149, 174);
    justify-content: center;
    /* align-items: center; */
    line-height: 65px;
    margin: 5px 9px;
    /* shadow only underneath buttons */
    /* border-radius: 10px;
     --> round the edges of buttons */
    }  

  .button.clearing { 
    /* Clear BUTTON COLOUR */
    background: rgb(250, 138, 153);
  }
 
  .button.calc {
    /* CALCULATIONS BUTON COLOR */
    background: rgb(236, 255, 129);
  }
 