/* :root {
    color:darkblue;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: rgb(153, 180, 107);
    color:rgb(141, 169, 194);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body > h1 {
    align-items: flex-start;
}

.container {
    width: 50%;
    height: 400px;
    margin: 0 auto;
    border: 10px solid black;

}


button {
    margin: auto;
    width: 150px;
    background-color:gold;
    height: 150px;
    color: white;
    padding: 1em;
    font-weight: 700;
    text-align: center;
    border: 10px solid rgb(235, 235, 235);
    border-radius: 10px;


} */
  
/* BASE STYLES */
/* :root {
    --clr-dark: rgb(144, 198, 229);
    --clr-light: #f1f5f9;
    --clr-accent: #e11d48;
  } */
  
  /* *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
   */
  
  section{
    /*OUTER GREEN SHELL*/
    width: 50%;
    margin: 0;
    padding: 25px;
    background-color: rgb(153, 180, 107);
   
  }
  
  .container {
    /*BLUE CALCULATOR*/
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    /* wrap all of the buttons within the blue calculator */
    align-items: normal;
    width: 70%;
    height: 70%;
    padding: 10px;
    /* border around the buttons */
    height: 400px;
    margin: 0 auto;
    /* how the calculator is display within outer green shell */
    background-color: rgb(144, 198, 229);
    /* justify-content: space-around; */
  
  }



  h1 {
    /*BETTER CALCULATOR*/
    text-align: center;
    color: hotpink;
  }
  
.calc-display{
    /*DISPLAY SCREEN OF CALCULATOR*/
    /* margin: 10; */
    /* justify-content: center; */
    width: 92%;
    height: 70px;
    padding: 7px;
    align-items: center;
    box-shadow: 0px 5px rgb(110, 149, 174);
    background-color: rgb(238, 251, 230);
} 

.button {
    /*DA BUTTONS DUH*/
    width: 75px;
    height: 65px;
    margin: 0 auto;
    background-color: rgb(235, 235, 235);
    color: gray; /*of button characters*/    
    font-weight: 500;
    font-size: x-large;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 5px rgb(110, 149, 174);
    /* border: 10px solid rgb(235, 235, 235); */
    /* border-radius: 10px; --> round the edges of buttons */
  }

  .button.clearing {
    background: rgb(250, 138, 153);
  }
 
  .button.calc {
    background: rgb(236, 255, 129);
/* align-self: flex-end; */
    /* align-self: flex-end; */
  }
  
  /* .button.calc {
    background: rgb(236, 255, 129);
  } */
  
 